XML/Tarea XML, DTD, XSD/DTD/tienda.dtd

<!ELEMENT tienda (producto)+>
<!ELEMENT producto (nombre, marca, precio, (pegi|edadRecomendada), categoria+, descuento)>
<!ATTLIST producto productoID CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT pegi (#PCDATA)>
<!ELEMENT edadRecomendada (#PCDATA)>
<!ELEMENT categoria (#PCDATA)>
<!ELEMENT descuento (#PCDATA)>